#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Andale Mono", monospace;
    color: darkslategrey;
}

h1{
    font-size: 2rem;
    margin: 0.5rem;
}

header{
    flex-direction: row;
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(129, 100, 253, 0.81);
    justify-content: space-between;
}

main{
    width: inherit;
}


.title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-page{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color: lavender;
    position: relative;
}

.rank-list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    margin-inline: 0.5rem;
    height: 100%;
}

li{
    list-style: none;
}

.boba-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(129, 100, 253, 0.81);
    width: 10rem;
    height: 90%;
    background-color: white;
    z-index: 10;
    position: relative;
    border-radius: 10px;
}

.boba-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 0.5rem;
}

.rank-line{
    border: 1px solid lightyellow;
    justify-content: space-between;
    display: flex;
    height: 6rem;
    background-color: grey;
    position: relative;
    max-width: 100%;
    flex-direction: row;
}

span{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

button{
    width: fit-content;
    height: 50px;
    align-self: center;
    border: deeppink;
    background-color: lightpink;
    border-radius: 100%;
    margin: 0.5rem;
}



button:hover{
    scale: 1.3;
    border: 2px solid green;
    background-color: lightgreen;
}